@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --menu-background-color: #020203;
  --primary-color: #000000;
  --secondary-color: #ff0101;

  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

header {
  height: 91px;
  width: 100%;
  background-color: var(--menu-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img {
  margin-left: 30px;
}

header nav {
  width: 100%;
}

header ul {
  color: white;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 90px;
}

main {
  display: flex;
}

.leftColumn {
  min-width: 117px;
  height: calc(100vh - 91px);
  background-color: var(--menu-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: white;
  position: relative;
}

.leftColumn p {
  transform: rotate(-90deg);
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  width: 140px;
  margin-bottom: 60px;
  position: absolute;
  bottom: 60px;
}

.leftColumn img {
  width: 64px;
  height: 64px;
}

.rightColumn {
  padding-left: min(100px, 4%);
  padding-right: min(90px, 4%);
  padding-top: min(70px, 4%);
  width: 100%;
}

.rightColumn h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.rightColumn p {
  margin-top: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.stats {
  margin-top: min(75px, 4%);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.statsLeftColumn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  gap: 30px;
}

.statsRightColumn {
  display: grid;
  align-content: space-between;
}

.statsCard {
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.statsCardRight {
  height: 124px;
  padding: 32px;
  display: flex;
  align-items: center;
}

.statsCard__icon {
  border-radius: 6px;
  margin-right: 24px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statsCard__infos p {
  margin: 0;
}

.statsCard__infos p:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 2px;
}

.statsCard__infos p:last-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #74798c;
  text-transform: capitalize;
}

.calories .statsCard__icon {
  background-color: rgba(255, 0, 0, 0.07);
}
.proteines .statsCard__icon {
  background-color: rgba(74, 184, 255, 0.07);
}
.glucides .statsCard__icon {
  background-color: rgba(253, 204, 12, 0.07);
}
.lipides .statsCard__icon {
  background-color: rgba(253, 81, 129, 0.07);
}

.dailyActivity {
  height: 320px;
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  position: relative;
}

.averageTimeSession {
  max-height: 263px;
  min-height: 200px;
  background: #ff0000;
  position: relative;
}

.performance {
  max-height: 263px;
  min-height: 200px;
  background: #282d30;
  position: relative;
}

.score {
  max-height: 263px;
  min-height: 200px;
  position: relative;
}

/* Recharts */

.dailyActivity h2 {
  position: absolute;
  top: 24px;
  left: 32px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #20253a;
}

.dailyActivity .customTooltip {
  width: 39px;
  height: 63px;
  background-color: #e60000;
  font-weight: 500;
  font-size: 7px;
  line-height: 24px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.averageTimeSession h2 {
  position: absolute;
  top: 29px;
  left: 34px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
  padding-right: 10px;
}

.averageTimeSession .customTooltip {
  background-color: white;
  font-weight: 500;
  font-size: 8px;
  line-height: 24px;
  color: black;
  padding: 0 7px 0 7px;
}

.score h2 {
  position: absolute;
  top: 20px;
  left: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  z-index: 2;
}

.score .recharts-responsive-container {
  margin-top: 40px;
}

.score__value {
  background-color: white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top: calc(20px + 50%);
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.score__value div {
  color: #74798c;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.score__value div:first-child {
  color: black;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}

.recharts-legend-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.recharts-legend-item > span {
  color: #74798c !important;
}

.recharts-legend-item:first-child {
  margin-right: 32px !important;
}

.recharts-legend-item > svg {
  margin-right: 12px !important;
}
